@model List<AppUserListDto>
@{
    Layout = "_Layout";
}
<a asp-action="CreateUser" asp-controller="Admin" class="btn btn-sm btn-success float-right">Create</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ad</th>
            <th scope="col">Soyad</th>
            <th scope="col">Kullanıcı Adı</th>
            <th scope="col">Degree</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>#</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Username</td>
                <td>@item.DegreeId</td>
                <td>@item.Email</td>
                <td><a class="btn btn-sm btn-danger">Remove</a></td>
                <td><a class="btn btn-sm btn-primary">Update</a></td>
            </tr>
        }
    </tbody>
</table>