@model List<AppUserTaskListDto>

@{
    int count = 0;
}


<table class="table my-3">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Başlık</th>
            <th scope="col">Görev Tanımı</th>
            <th scope="col">Aciliyet</th>
            <th scope="col">İş Durumu</th>
            <th scope="col">Oluşturulma Zamanı</th>
            <th scope="col">Son Teslim Zamanı</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(++count)</td>
                <td>@item.AppTask.Title</td>
                <td>@item.AppTask.Defination</td>
                <td>@item.AppTask.Priortry.Defination</td>
                <td>@item.TaskStatus.Defination</td>
                <td>@item.AppTask.CreatedTime</td>
                <td>@item.AppTask.EndDateTime</td>
                @if (item.TaskStatusId == (int)TaskStatusType.GorevAlındı)
                {
                    <td><a asp-action="ComplateTask" asp-controller="User" asp-route-id="@item.Id" class="btn btn-primary text-white">Görevi Tamamla</a></td>

                }
                else{
                    <td><a asp-action="Detail" asp-controller="User" asp-route-id="@item.Id" class="btn btn-primary">Detay</a></td>

                }
            </tr>
        }
    </tbody>
</table>